.container {
  border: 1px solid #AAA;
  height: 40px;
  line-height: 40px;
  width: 300px;
  border-radius: 2px;
  padding: 2px;
  display: flex;
}

.showOptionChangedContainer {
  border-radius: 2px 2px 0 0;
  border-bottom: 0px;
}

.label {
  width: 280px;
  border: 0px;
  padding: 2px;
  outline:none;
  cursor: pointer;
}

.isShow {
  display: none;
}

.icon {
  display: flex;
  width: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.displayNone {
  display: none;
}

.options {
  border: 1px solid #AAA;
  width: 304px;
  max-height: 360px;
  overflow: auto;
  border-radius: 0 0 2px 2px;
  position: absolute;
  background: #FFFFFF;
  z-index: 10
}

.optionList {
  width: 304px;
  max-height: 300px;
  overflow: auto;
}

.rows {
  height: 40px;
  line-height: 40px;
  padding: 2px 10px;
  cursor: pointer;
}

.rows:hover {
  background: #B8F1F9;
}

.optionsLength {
  border-top: 1px solid #eee;
  padding: 2px 10px;
  width: 284px;
  height: 40px;
  line-height: 40px;
  background: #FFFFFF;
}

.disableLabel {
  background-color: #E0E0E0;
}
